In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from tensorflow.keras.models import load_model

In [2]:
## load model
model = load_model('model.h5')

## load encoder
with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo = pickle.load(file)

## load scaler
with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [10]:
## input data
input_data = {
    'CreditScore': 800,
    'Geography': 'Germany',
    'Gender': 'Male',
    'Age': 35,
    'Tenure': 3,
    'Balance': 500000,
    'NumOfProducts': 3,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 90000	
}

In [11]:
## Onehot Encoding 'Geography' columns

geo_encoded = onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns = onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

C:\Users\Dell\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                1.0              0.0

In [12]:
input_df = pd.DataFrame([input_data])

input_data = pd.concat([input_df.drop(columns=['Geography'], axis=1),geo_encoded_df],axis= 1)
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,800,Male,35,3,500000,3,1,1,90000,0.0,1.0,0.0

In [13]:
## label Encode categorical variables('gender')
input_data['Gender'] = label_encoder_gender.transform(input_data['Gender']) 
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,800,1,35,3,500000,3,1,1,90000,0.0,1.0,0.0

In [14]:
## scaling input Dataframe
input_data_scaled = scaler.transform(input_data)
input_data_scaled

array([[ 1.53956105,  0.91324755, -0.37056859, -0.69539349,  6.78702418,
         2.53355998,  0.64920267,  0.97481699, -0.1813654 , -0.99850112,
         1.72572313, -0.57638802]])

In [15]:
## prediction
prediction = model.predict(input_data_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 52ms/step

array([[0.46880215]], dtype=float32)

In [17]:
if(prediction > 0.5):
    print("The Customer is likely to churn.")
else:
    print("The Customer is not likely to churn.")

The Customer is not likely to churn.