In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data = data.drop(columns = ['RowNumber','CustomerId','Surname','Exited'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [4]:
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo = pickle.load(file)
    
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df], axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,1.0,0.0,0.0

In [7]:
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [9]:
with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
## ANN with Regression
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
import datetime

In [11]:
# build the model
# after hyperparameter tuning the ANN model
model = Sequential([
    Dense(16,activation='relu', input_shape = (X_train.shape[1],)), # HL1
    Dense(16, activation='relu'), # HL2
    Dense(1) # output layer for regression (bydefalut activation="linear_activation")
])

# compile the model
model.compile(optimizer= 'adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

d:\Project-2-Bank-Churn-Modeling\venv\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 16)             │           192 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 16)             │           272 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            17 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 481 (1.88 KB)

 Trainable params: 481 (1.88 KB)

 Non-trainable params: 0 (0.00 B)

In [12]:
# from tensorflow.keras.callbacks import EarlyStopping
# import datetime

# early_stopping_callback = EarlyStopping(monitor='val_loss',patience = 10, restore_best_weights = True)

In [12]:
# train the model
history = model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs = 50)

Epoch 1/50

250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 100155.7969 - mae: 100155.7969 - val_loss: 98700.7266 - val_mae: 98700.7266
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100506.5547 - mae: 100506.5547 - val_loss: 98510.7031 - val_mae: 98510.7031
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99376.3438 - mae: 99376.3438 - val_loss: 97967.4844 - val_mae: 97967.4844
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99261.7812 - mae: 99261.7812 - val_loss: 96950.7812 - val_mae: 96950.7812
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 98126.9297 - mae: 98126.9297 - val_loss: 95394.0625 - val_mae: 95394.0625
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 96964.0859 - mae: 96964.0859 - val_loss: 93277.6641 - val_mae: 93277.6641
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 93782.1172 - mae: 93782.1172 - val_loss: 90603.0234 - val_mae: 90603.0234
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 91705.2969 - mae: 91705.2969 - val_loss: 87461.7031 - val_mae: 87461.7031
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 89315.4688 - mae: 89315.4688 - val_loss: 83936.2656 - val_mae: 83936.2656
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 85178.7109 - mae: 85178.7109 - val_loss: 80104.2109 - val_mae: 80104.2109
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 81125.8750 - mae: 81125.8750 - val_loss: 76060.6797 - val_mae: 76060.6797
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 76522.4297 - mae: 76522.4297 - val_loss: 72071.9297 - val_mae: 72071.9297
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 72528.4375 - mae: 72528.4375 - val_loss: 68244.3359 - val_mae: 68244.3359
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 68826.3516 - mae: 68826.3516 - val_loss: 64634.8242 - val_mae: 64634.8242
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 64898.1289 - mae: 64898.1289 - val_loss: 61318.5547 - val_mae: 61318.5547
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 61209.9883 - mae: 61209.9883 - val_loss: 58415.8164 - val_mae: 58415.8164
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 58583.5625 - mae: 58583.5625 - val_loss: 56006.8008 - val_mae: 56006.8008
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 56574.8945 - mae: 56574.8945 - val_loss: 54215.9648 - val_mae: 54215.9648
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 55075.7734 - mae: 55075.7734 - val_loss: 52899.1250 - val_mae: 52899.1250
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 53228.8945 - mae: 53228.8945 - val_loss: 51981.6875 - val_mae: 51981.6875
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51825.4453 - mae: 51825.4453 - val_loss: 51385.9297 - val_mae: 51385.9297
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50360.1016 - mae: 50360.1016 - val_loss: 51024.0391 - val_mae: 51024.0391
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51088.4062 - mae: 51088.4062 - val_loss: 50829.1133 - val_mae: 50829.1133
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49865.0859 - mae: 49865.0859 - val_loss: 50724.7852 - val_mae: 50724.7852
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49642.5898 - mae: 49642.5898 - val_loss: 50674.8867 - val_mae: 50674.8867
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50624.2109 - mae: 50624.2109 - val_loss: 50647.1680 - val_mae: 50647.1680
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49729.2773 - mae: 49729.2773 - val_loss: 50630.8008 - val_mae: 50630.8008
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49866.7422 - mae: 49866.7422 - val_loss: 50618.4531 - val_mae: 50618.4531
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50284.7344 - mae: 50284.7344 - val_loss: 50610.9805 - val_mae: 50610.9805
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49652.8086 - mae: 49652.8086 - val_loss: 50605.5977 - val_mae: 50605.5977
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49874.5156 - mae: 49874.5156 - val_loss: 50600.8164 - val_mae: 50600.8164
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49776.7930 - mae: 49776.7930 - val_loss: 50593.9531 - val_mae: 50593.9531
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49547.2656 - mae: 49547.2656 - val_loss: 50581.9023 - val_mae: 50581.9023
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49806.6602 - mae: 49806.6602 - val_loss: 50577.4883 - val_mae: 50577.4883
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50447.9688 - mae: 50447.9688 - val_loss: 50571.3984 - val_mae: 50571.3984
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49854.7305 - mae: 49854.7305 - val_loss: 50562.9492 - val_mae: 50562.9492
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49555.6523 - mae: 49555.6523 - val_loss: 50561.4492 - val_mae: 50561.4492
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49680.0469 - mae: 49680.0469 - val_loss: 50553.8516 - val_mae: 50553.8516
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49872.2773 - mae: 49872.2773 - val_loss: 50546.9453 - val_mae: 50546.9453
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50260.5781 - mae: 50260.5781 - val_loss: 50535.5508 - val_mae: 50535.5508
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49973.1328 - mae: 49973.1328 - val_loss: 50534.2344 - val_mae: 50534.2344
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50191.4258 - mae: 50191.4258 - val_loss: 50530.0352 - val_mae: 50530.0352
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50143.5156 - mae: 50143.5156 - val_loss: 50522.7148 - val_mae: 50522.7148
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50082.7539 - mae: 50082.7539 - val_loss: 50514.8906 - val_mae: 50514.8906
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49981.4297 - mae: 49981.4297 - val_loss: 50510.0078 - val_mae: 50510.0078
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49862.1914 - mae: 49862.1914 - val_loss: 50502.8516 - val_mae: 50502.8516
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50178.0312 - mae: 50178.0312 - val_loss: 50499.7344 - val_mae: 50499.7344
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50171.3906 - mae: 50171.3906 - val_loss: 50497.4297 - val_mae: 50497.4297
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49976.6680 - mae: 49976.6680 - val_loss: 50488.7656 - val_mae: 50488.7656
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50178.5742 - mae: 50178.5742 - val_loss: 50486.8438 - val_mae: 50486.8438

In [13]:
## evaluate the model
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test MAE: {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50928.8164 - mae: 50928.8164
Test MAE: 50486.84375

In [14]:
model.save('regressionModel.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.